<div id="mySidebar" class="sidebar">
  <a [routerLink]="'sales'" [routerLinkActive]="'is-active'">
    <span *ngIf="isExpanded">Sales</span>
    <mat-icon mat-list-icon style="font-size: 30px">account_balance</mat-icon>
  </a>
  <a [routerLink]="'analysis'">
    <span *ngIf="isExpanded">Analysis</span>
    <mat-icon mat-list-icon style="font-size: 30px">analytics</mat-icon>
  </a>
  <a [routerLink]="'sales-reps'">
    <span *ngIf="isExpanded">Sales Reps</span>
    <mat-icon mat-list-icon style="font-size: 30px">supervised_user_circle</mat-icon>
  </a>
</div>

<div id="main">
  <mat-toolbar color="primary">
    <div class="parent">
      <div class="left">
        <button mat-icon-button (click)="switchSideBar()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="center">
        <h2>Sales Tray</h2>
      </div>
      <div class="right"></div>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>


