
<div>
  <div class="sales-dashboard-header">
    <div class="card sales-card">
      <mat-icon style="width: 100px; height: 100px; font-size: 100px;color: slategray">shopping_cart</mat-icon>
      This Month Sale
      <p style="font-size: 50px">250, 000 </p>
    </div>
    <div class="card sales-card">
      <mat-icon style="width: 100px; height: 100px; font-size: 100px; color: cornflowerblue">monetization_on</mat-icon>
      This month Profit
      <p style="font-size: 50px">120, 000 </p>
    </div>
    <div class="card sales-card">
      <mat-icon style="width: 100px; height: 100px; font-size: 100px; color: chartreuse">show_chart</mat-icon>
      Number of Sales
      <p style="font-size: 50px"> 120 </p>
    </div>
    <div class="card sales-card">
      <mat-icon style="width: 100px; height: 100px; font-size: 100px;color: darksalmon">query_stats</mat-icon>
      Cost for the Month
      <p style="font-size: 50px">130, 000 </p>
    </div>
  </div>
  <div class="sales-dashboard-content">
<!--    style="width: 50%"-->
    <div>
      <canvas id="line_chart" width="800" height="500" #line_chart></canvas>
    </div>
    <div>
      <canvas id="pie_chart" width="500" height="450" #pie_chart></canvas>
    </div>
  </div>
</div>
