<div class="">
  <div class="main-content">

    <div class="sales-button card p-2 m-2" (click)="addSale()">
      <div class="card-body">
        <div class="button-body">
          <mat-icon style="width: 100px; height: 100px; font-size: 100px">shopping_cart</mat-icon>
          <p STYLE="font-size: 30px">Add Sale </p>
        </div>
      </div>
    </div>

    <div class="card p-2 m-2">
      <div class="card-body">
        <div class="summary">
          <div style="font-size: 30px">Todays Sale: <strong>25, 250/=</strong></div>
          <div style="font-size: 30px">Items Sold: <strong>1000</strong></div>
          <div style="font-size: 30px"> Retailers: <strong>25</strong></div>
        </div>
      </div>
    </div>

  </div>
</div>
